body {
    max-width: 100%;
    text-align: left;
    font-size: 1.5em;
}

.instruction,
img {
    display: inline;
}

.status {
    max-width: 30%;
    padding: 10px 10px;
    margin: 0;
    float: left;
    clear: both;
}

ul {
    list-style: none;
}